<h1 style="text-align: center; color: red; padding-top: 60px; font-size: 55px">Customer</h1>
<style>
a:link {
    text-align: center; color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    text-align: center; color: darkgreen;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-align: center; color: gray;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    text-align: center; color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<div style="text-align: center">
<%= link_to 'Sign up', new_user_path %>/<%= link_to 'Log in', new_user_path %>
</div>
